@media only screen and (max-width: 1600px) {
    .navbar {
        width: 90%;
    }
    header {
        width: 100%;
        height: 2000px;
    }

    .asso1 {
        width: 90%;
        width: 600px;
        height: 500px;
        margin-left: 600px;
    }
    .group2 {
        margin-top: -50px;
    }
    footer {
        width: 90%;
    }
    .foot {
        width: 90%;
    }
    .cnt-cont {
        display: none;
    }
    .indfoot {
        position: relative;
        width: 90%;
        width: 100%;
    }
    .group468 {
        width: 90%;
        width: 300px;
        height: 200px;
        margin-left: 300px;
    }
    .group465 {
        width: 90%;
        width: 300px;
        height: 200px;
    }
    .footimg {
        width: 90%;
        width: 300px;
        height: 300px;
    }
    .footas {
        width: 250px;
        height: 100px;
        margin-left: 1000px;
    }
    .group478 {
        display: flex;

        width: 90%;
        width: 1200px;
    }
    .footconta {
        margin-left: 900px;
    }
    .footcomp2 {
        margin-left: 800px;
    }
}
@media only screen and (max-width: 1350px) {
    .navbar {
        width: 90%;
    }
    header {
        width: 100%;
        height: 2000px;
    }

    .asso1 {
        width: 90%;
        width: 700px;
        height: 400px;
        margin-left: 00px;
    }
    .group2 {
        margin-top: 400px;
    }
    footer {
        width: 90%;
    }
    .foot {
        width: 90%;
    }
    .cnt-cont {
        display: none;
    }
    .indfoot {
        position: relative;
        width: 90%;
        width: 100%;
    }
    .group468 {
        width: 90%;
        width: 300px;
        height: 200px;
        margin-left: 300px;
    }
    .group465 {
        width: 90%;
        width: 300px;
        height: 200px;
    }
    .footimg {
        width: 90%;
        width: 300px;
        height: 300px;
    }
    .footas {
        width: 250px;
        height: 100px;
        margin-left: 900px;
    }
    .group478 {
        display: flex;

        width: 90%;
        width: 1000px;
        font-size: 10px;
    }
    .footconta {
        margin-left: 700px;
        font-size: 15px;
    }
    .footcomp {
        margin-left: 400px;
    }
    .proin {
        font-size: 15px;
    }
    .footcomp2 {
        margin-left: 600px;
    }
}
@media only screen and (max-width: 1100px) {
    .navbar {
        width: 90%;
    }

    header {
        height: 2000px;
    }
    .container-2 ul {
        font-size: 15px;
        width: 600px;
    }

    .asso1 {
        width: 90%;
        width: 700px;
        height: 400px;
        margin-left: 00px;
    }
    .group2 {
        margin-top: 400px;
    }
    footer {
        width: 90%;
    }
    .foot {
        width: 90%;
    }
    .cnt-cont {
        display: none;
    }
    .indfoot {
        position: relative;
        width: 90%;
        width: 100%;
    }
    .group468 {
        width: 90%;
        width: 300px;
        height: 200px;
        margin-top: 200px;
        margin-left: 200px;
    }
    .group465 {
        width: 90%;
        width: 300px;
        height: 200px;
    }
    .footimg {
        width: 90%;
        width: 400px;
        height: 400px;
        margin-left: -120px;
    }
    .footas {
        width: 150px;
        height: 100px;
        margin-left: 900px;
    }
    .group478 {
        height: 300px;
        width: 90%;
        font-size: 10px;
    }
    .footconta {
        margin-left: 500px;

        font-size: 15px;
    }
    .footcomp {
        margin-left: 390px;
        margin-top: 150px;
    }
    .footcomp2 {
        margin-top: 150px;
    }
    .geologo {
        margin-top: -10px;
        margin-left: 5px;
    }
    .proin {
        font-size: 20px;
    }
    .footcomp2 {
        margin-left: 600px;
    }
    .Line {
        margin-top: 960px;
        width: 500px;
    }
}
@media only screen and (max-width: 500px) {
    header {
        width: 100%;
        color: black;
    }
    section {
        width: 100%;
    }
    .asseto {
        margin-left: 20px;
        position: absolute;
        width: 400px;
        height: 300px;
    }
    .group5 {
        position: absolute;
        width: 60px;
        height: 60px;
        margin-left: 158px;
        margin-top: -70px;
        border-radius: 40px;

        background: #c4a3fd;
    }
    .indfoot {
        height: 1596px;
        background-color: #b28af8;
    }
    .group10 {
        position: absolute;
        width: 313px;
        height: 153px;
        margin-left: 32px;
    }
    .solve {
        position: absolute;
        width: 313px;
        height: 64px;
        margin-top: 40px;
        font-family: "Poppins";
        font-size: 45px;
        font-weight: bold;
        font-style: normal;
        text-align: center;

        color: #ffffff;
    }
    .prob {
        margin-left: 66px;
        margin-top: 104px;
        position: absolute;
        width: 182px;
        height: 49px;
        font-family: "Poppins";
        font-size: 34px;
        font-weight: bold;
        font-style: normal;
        text-align: center;

        color: #ffffff;
    }
    .we {
        margin-left: 66px;
        position: absolute;
        width: 166px;
        height: 40px;

        font-family: "Poppins";
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        color: #ffffff;
    }
    .minitext {
        position: absolute;
        width: 337px;
        height: 82px;
        margin-top: -80px;
        margin-left: 20px;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: normal;
        line-height: 30px;
        font-style: normal;
        text-align: center;
        color: #ffffff;
    }
    .group1 {
        display: flex;
        position: absolute;
        width: 236px;
        height: 60px;
        margin-left: 70px;
        border-radius: 40px;
        margin-top: 250px;
        background: #ffffff;
    }
    .our {
        position: absolute;
        width: 122px;
        height: 24px;
        margin-left: 57px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        color: #b28af8;
    }
    .firstpict {
        position: absolute;
        width: 128px;
        height: 108px;
        margin-top: 300px;
        margin-left: -120px;
    }
    .group468 {
        position: absolute;
        width: 353px;
        height: 542px;
    }
    .footase2 {
        position: absolute;
        position: absolute;
        width: 123px;
        height: 138px;
        margin-left: 106px;
    }
    .like {
        position: absolute;
        width: 223px;
        height: 67px;

        font-family: "Poppins";
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        text-align: center;
        color: #ffffff;
    }
    .asaa {
        position: absolute;
        width: 352px;
        height: 73px;
        margin-left: -30px;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 24px;
        font-style: normal;
        text-align: center;
        color: #ffffff;
    }
    input {
        margin-top: 179px;
        position: absolute;
        width: 352px;
        height: 163px;

        font-family: "Roboto";
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        font-style: normal;
        text-align: center;

        color: #ffffff;
    }
    .sub {
        position: absolute;
        width: 295px;
        height: 60px;
        margin-top: 280px;
        border-radius: 40px;
        margin-left: 20px;
        background: #ffffff;
    }
    .subs {
        position: absolute;
        width: 91px;
        height: 24px;
        margin-top: 19px;
        margin-left: 103px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        color: #b28af8;
    }
    .group465 {
        margin-top: 178px;
        margin-left: 57px;
    }
    .footas {
        position: absolute;
        width: 126px;
        height: 98.4px;
        margin-top: 100px;
        margin-left: 400px;
        margin-top: 704px;
    }

    .geologo {
        margin-left: 20px;
        margin-top: 120px;
    }
    .proin {
        margin-top: 200px;
        margin-left: 20px;
    }
    .footcomp {
        margin-top: 345px;
        margin-left: 20px;
    }
    .footcomp2 {
        margin-top: 345px;
        margin-left: 199px;
    }
    .footconta {
        margin-top: 574px;
        margin-left: 20px;
    }
    .Line {
        margin-top: 1435px;
    }
    .icons {
        margin-left: 185px;
        margin-top: 1475px;
    }
    .footend {
        margin-top: 1537px;
        margin-left: 185px;
    }
}
/* END HOME */
/* END HOME */
/* END HOME */

/* START ABOUTUS */
/* START ABOUTUS */
/* START ABOUTUS */
@media only screen and (max-width: 1800px) {
    .Clients {
        width: 90%;
    }

    .group20 {
        margin-left: 300px;
        width: 700px;
        display: flex;
        justify-content: space-between;
    }
    .group13 {
        display: flex;
        width: 500px;
        justify-content: space-around;
    }
    .namesilo2 {
        display: none;
    }
    .namesilo3 {
        display: none;
    }
    .pc {
        width: 600px;
        height: 500px;
        margin-left: 160px;
    }
    .line1 {
        display: none;
    }
    .group8 {
        height: 550px;
        margin-top: 600px;
        margin-left: 260px;
    }
    .group21 {
        width: 800px;
        margin-left: 250px;
    }
    .group28 {
        margin-left: -300px;
    }
}

@media only screen and (max-width: 1600px) {
    .group28 {
        width: 1400px;
        display: flex;
        justify-content: space-between;
    }
    .group22 {
        margin-left: 50px;
    }
    .line3 {
        margin-left: 486px;
    }
    .group23 {
        margin-left: 540px;
    }
    .line2 {
        margin-left: 976px;
    }
    .group24 {
        margin-left: 1030px;
    }
}
@media only screen and (max-width: 1200px) {
    header {
        margin-left: -50px;
        width: 1200px;
    }
    .Clients {
        margin-left: -100px;
    }
    .group20 {
        width: 700px;
        display: flex;
        justify-content: space-between;
    }
    .group13 {
        display: flex;
        width: 500px;
        justify-content: space-around;
    }
    .namesilo2 {
        display: none;
    }
    .namesilo3 {
        display: none;
    }
    .pc {
        width: 600px;
        height: 500px;
        margin-left: 160px;
    }
    .line1 {
        display: none;
    }
    .group8 {
        height: 550px;
        margin-top: 600px;
        margin-left: 260px;
    }
    .group21 {
        width: 800px;
        margin-left: 250px;
    }
    .group28 {
        height: 200px;
        width: 1000px;
        margin-left: 100px;
    }
    .group22 {
        width: 300px;
        height: 150px;
        margin-left: 50px;
    }
    .cli {
        margin-top: 120px;
    }
    .line3 {
        margin-left: 400px;
    }
    .group23 {
        margin-left: 420px;
    }
    .line2 {
        margin-left: 770px;
    }
    .group24 {
        margin-left: 700px;
    }
    .footik {
        margin-left: -50px;
        width: 1200px;
        height: 1600px;
    }
}
@media only screen and (max-width: 500px) {
    .about {
        width: 500px;
        height: 100%;
        background-color: #b28af8;
    }
    .namesilo4 {
        display: none;
    }
    .pc {
        margin-left: 450px;
    }
    .pc1 {
        position: absolute;
        width: 400px;
        height: 380.2px;
    }
    .group8 {
        margin-left: 450px;
    }

    .footik {
       
        margin-top: 2500px;
    }
    .marginleft {
        margin-left: 150px;
        margin-top: -150px;
    }
    .group28 {
        position: absolute;
        width: 334px;
        height: 715px;
        margin-left: 421px;
        border-color: #cfb3ff;
        border-width: 1px;
        border-style: solid;
        border-radius: 139px;
    }

    .group22 {
        position: absolute;
        width: 147px;
        height: 132px;
        margin-top: 80px;
        margin-left: -20px;
    }
    .numbers {
        width: 1250px;
        background-color: #b28af8;
        height: 1000px;
    }
    .line3 {
        position: absolute;
        width: 66px;
        height: 0px;

        border-color: #c4a3fd;
        border-width: 2px;
        border-style: solid;
        margin-top: 252px;
        margin-left: 135px;
    }
    .group23 {
        margin-top: 292px;
        margin-left: -10px;
        position: absolute;
        width: 194px;
        height: 132px;
    }
    .line2 {
        margin-top: 464px;
        margin-left: 135px;
        position: absolute;
        width: 66px;
        height: 0px;

        border-color: #c4a3fd;
        border-width: 2px;
        border-style: solid;
    }
    .group24 {
        position: absolute;
        width: 144px;
        height: 132px;
        margin-top: 504px;
        margin-left: -10px;
    }
}
