header {
    display: flex;
    justify-content: start;
    position: absolute;
    height: 100px;
    width: 100%;

    background-color: #b28af8;
}
.indexmain {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #b28af8;
}
.navbar {
    height: 200px;
    width: 1970px;
    display: flex;
}
.logo {
    position: absolute;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
}
.container-1 {
    width: 881px;
    height: 50px;

    display: flex;
    margin-top: 5px;
    margin-left: 140px;
}
.container-2 {
    width: 771px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-2 ul {
    position: absolute;
    width: 771px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-weight: 500;
    line-height: 30px;

    font-style: normal;
    text-align: left;
    letter-spacing: 3px;
    color: #eeeeee;
    margin-left: 90px;
    margin-top: 14px;
    transition: 1s;
}
.container-2 a:hover {
    color: white;
}
.cnt-cont {
    position: absolute;
    width: 174px;
    height: 60px;
    display: flex;
    margin-top: 50px;
    margin-left: 1606px;
    justify-content: space-between;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 40px;
    outline: 2px;
    transition: 0.3s;
}
.cnt-cont:hover {
    color: purple;
    background-color: purple;
}
.cnt {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 19px;
    margin-left: 39px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    transition: 1s;
}
.cnt a:hover {
    color: white;
}
.active {
    color: black;
}
/* start section to home */
section {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 203px;
    margin-left: 124px;
    /* border: 2px solid black; */
}

.picturescont {
    position: absolute;
    display: flex;
    width: 128px;

    height: 108px;
}
.group2 {
    position: absolute;
    width: 549px;
    height: 465px;

    margin-top: 129px;
}
.group10 {
    position: absolute;
    width: 549px;
    height: 268px;
}
.we {
    position: absolute;
    width: 293px;
    height: 72px;
    font-family: "Poppins";
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    letter-spacing: px;
    color: #ffffff;
}
.solve {
    position: absolute;
    width: 549px;
    height: 113px;
    font-family: "Poppins";
    font-size: 80px;
    margin-top: 71px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    letter-spacing: px;
    color: #ffffff;
}
.prob {
    position: absolute;
    width: 317px;
    height: 85px;
    margin-top: 183px;
    font-family: "Poppins";
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    letter-spacing: 30px;
    color: #ffffff;
}
.minitext {
    position: absolute;
    width: 484px;
    height: 58px;

    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    letter-spacing: px;
    color: #ffffff;
}
.secgr {
    width: 484px;
    height: 58px;
    position: absolute;
    margin-top: 267px;
}
.group1 {
    position: absolute;
    width: 300px;
    height: 60px;
    background-color: white;
    border-radius: 40px;
    margin-top: 373px;
    transition: 1s;
}
.our {
    position: absolute;
    width: 122px;
    height: 24px;
    margin-top: 19px;
    margin-left: 89px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #b28af8;
    transform: 1s;
}
.our:hover {
    color: black;
}
.group5 {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 373px;
    margin-left: 310px;
    border-radius: 40px;

    background: #c4a3fd;
}
.yout {
    margin-top: 21px;
    margin-left: 22px;
}
.group1 a :hover {
    color: black;
    background-color: purple;
}

.eclipse4 {
    background-image: url("Ellipse 3.png"), url("Ellipse 4.png");
}
.asset1 {
    position: absolute;
    width: 1087px;
    height: 783px;

    border-color: #000000;
    border-width: 1px;
    margin-left: 850px;
}

.asset4 {
    position: absolute;
    margin-left: -150px;
    margin-top: 160px;
}
.miniasset {
    position: absolute;
    margin-left: -600px;
    margin-top: 600px;
}

/* start footer */
/* start footer */
/* start footer */

footer {
    position: absolute;
    width: 100%;
    height: 1040px;
    display: flex;
    border-color: #000000;
    border-width: 1px;
    margin: 0 auto;

    margin-top: 1110px;
    background: #b28af8;
}
.footas {
    margin-left: 1590px;
    margin-top: -200px;
}
.group468 {
    position: absolute;
    width: 667px;
    height: 473px;
    margin-left: 627px;
    margin-bottom: -20px;
}
.footase2 {
    margin-left: 247px;
}
.group465 {
    position: absolute;
    width: 660px;
    height: 117px;
}
.like {
    position: absolute;
    width: 660px;
    height: 57px;

    border-color: #000000;
    border-width: 1px;

    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    letter-spacing: px;
    color: #ffffff;
}
.asaa {
    position: absolute;
    width: 510px;
    height: 51px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: center;
    margin-top: 66px;
    margin-left: 75px;
    color: #ffffff;
}
.group467 {
    position: absolute;
    width: 667px;
    height: 82px;

    margin-top: 150px;
}
input {
    position: absolute;
    width: 667px;
    height: 80px;

    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;

    background: #c4a3fd;
    position: absolute;

    font-family: "Poppins";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    letter-spacing: px;
    color: #ffffff;
}

.sub {
    position: absolute;
    width: 200px;
    height: 60px;
    margin-left: 457px;
    margin-top: 10px;
    border-radius: 40px;
    transition: 1s;

    background: #ffffff;
}

.subs {
    position: absolute;
    width: 91px;
    height: 24px;
    margin-top: 19px;
    margin-left: 55px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;

    color: #b28af8;
}
.sub:hover {
    background-color: purple;
}
.subs:hover {
    color: white;
}
.group478 {
    position: absolute;
    width: 1529px;
    height: 207px;
    margin-top: 673px;
    margin-left: 140px;
}
.geologo {
    position: absolute;
    width: 50px;
    height: 50px;

    margin-bottom: 157px;
    margin-left: -30px;
}
.proin {
    position: absolute;
    margin-top: 30px;
    width: 400px;
    height: 137px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.footcomp {
    position: absolute;
    width: 240px;
    height: 137px;
    margin-left: 560px;
    margin-top: 30px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.comp {
    position: absolute;
    width: 114px;
    height: 29px;
    margin-top: -50px;

    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.footcomp2 {
    position: absolute;
    width: 240px;
    height: 137px;
    margin-left: 840px;
    margin-top: 30px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    font-style: normal;
    text-align: left;

    color: #ffffff;
}
.footconta {
    position: absolute;
    width: 395px;
    height: 96px;
    margin-left: 1134px;
    margin-top: 30px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.conta {
    position: absolute;
    width: 92px;
    height: 29px;
    margin-top: -50px;

    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.Line {
    position: absolute;
    width: 1640px;
    height: 0px;
    margin-top: 940px;
    margin-left: 141px;

    border-color: #dcc7ff;
    border-width: 1px;
    border-style: solid;
}
.icons {
    display: flex;

    position: absolute;
    margin-top: 960px;
    margin-left: 140px;
    width: 205px;
    height: 40px;
}
.fb {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c4a3fd;
}
.twit {
    margin-left: 55px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c4a3fd;
}
.insta {
    margin-left: 110px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c4a3fd;
}
.youtube {
    margin-left: 165px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c4a3fd;
}
.footend {
    position: absolute;
    width: 237px;
    height: 20px;
    margin-top: 971px;
    margin-left: 1553px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
/* end footer */
/* end footer */
/* end footer */

/* start about us decorait */
/* start about us decorait */
/* start about us decorait */
.Clients {
    position: absolute;
    width: 1360px;
    height: 201px;
    margin-top: 182px;
    margin-left: 280px;
}
.these {
    position: absolute;
    width: 267px;
    height: 25px;
    margin-left: 554px;

    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.with {
    position: absolute;
    width: 455px;
    height: 57px;
    margin-top: 34px;
    margin-left: 454px;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.group20 {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    position: absolute;
    width: 1360px;
    height: 51px;
}

.group19 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c4a3fd;
}
.arrowr {
    position: absolute;
    width: 10px;
    height: 16px;
}
.group18 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c4a3fd;
}
.group13 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1115px;
    height: 51px;
    opacity: 0.7;
    margin-left: 123px;
}
.about1 {
    position: absolute;
    width: 1531px;
    height: 652.2px;

    margin-top: 181px;
}
.about {
    width: 3000px;
    height: 1980px;
    background-color: #b28af8;
}
.pc {
    position: absolute;
    width: 777px;
    height: 652.2px;
}
.group8 {
    position: absolute;
    margin-top: 43px;
    margin-left: 980px;
    width: 551px;
    height: 566px;
}
.line1 {
    margin-top: 65px;
    margin-left: 850px;
    position: absolute;
    width: 100px;
    height: 0px;

    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
}
.ab {
    position: absolute;
    width: 152px;
    height: 44px;

    font-family: "Poppins";
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.p1 {
    position: absolute;
    width: 520px;
    height: 62px;
    margin-top: 83px;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.what {
    margin-top: 228px;
    position: absolute;
    width: 551px;
    height: 281px;
}
.p2 {
    position: absolute;
    width: 551px;
    height: 281px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;

    color: #ffffff;
}
.p3 {
    margin-top: 100px;
    position: absolute;
    width: 551px;
    height: 281px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;

    color: #ffffff;
}
.p4 {
    margin-top: 200px;
    position: absolute;
    width: 551px;
    height: 281px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;

    color: #ffffff;
}
.group9 {
    margin-top: 506px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 240px;
    height: 60px;
    background-color: white;
    border-radius: 40px;
    transition: 1s;
}
.lets {
    position: absolute;
    width: 95px;
    height: 24px;

    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;

    color: #b28af8;
}
.group9:hover {
    background-color: purple;
}
.lets :hover {
    color: white;
}
.numbers {
    margin-top: 1397px;
    position: absolute;
    width: 1640px;
    height: 400px;
}
.group21 {
    position: absolute;
    width: 869px;
    height: 91px;

    margin-left: 386px;
}
.group28 {
    margin-left: -80px;
    margin-top: 100px;
    position: absolute;
    width: 1640px;
    height: 250px;
    border-color: #cfb3ff;

    border-width: 1px;
    border-style: solid;
    border-radius: 139px;

    background: #956ae1;
}
.dig {
    position: absolute;
    width: 503px;
    height: 25px;
    margin-left: 186px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.compan {
    position: absolute;
    width: 869px;
    height: 57px;
    margin-top: 34px;

    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.group22 {
    position: absolute;
    width: 380px;
    height: 170px;
    margin-top: 41px;
    margin-left: 140px;
}
.k16 {
    position: absolute;
    width: 380px;
    height: 140px;

    font-family: "Poppins";
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.cli {
    margin-top: 142px;
    margin-left: 152px;
    position: absolute;
    width: 78px;
    height: 28px;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.line3 {
    position: absolute;
    width: 0px;
    height: 66px;
    margin-top: 93px;
    margin-left: 576px;
    border-color: #c4a3fd;
    border-width: 2px;
    border-style: solid;
}
.group23 {
    position: absolute;
    width: 380px;
    height: 170px;

    margin-left: 630px;
    margin-top: 41px;
}

.k189 {
    position: absolute;
    width: 380px;
    height: 140px;

    font-family: "Poppins";
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.team {
    position: absolute;
    width: 170px;
    height: 28px;
    margin-top: 142px;
    margin-left: 106px;

    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.line2 {
    position: absolute;
    width: 0px;
    height: 66px;
    margin-top: 93px;

    margin-left: 1066px;
    border-color: #c4a3fd;
    border-width: 2px;
    border-style: solid;
}
.group24 {
    position: absolute;
    margin-top: 41px;
    margin-left: 1120px;
    width: 380px;
    height: 170px;
}
.k13 {
    position: absolute;
    width: 380px;
    height: 140px;

    font-family: "Poppins";
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    text-align: center;

    color: #ffffff;
}
.activework {
    position: absolute;
    width: 134px;
    height: 28px;
    margin-top: 142px;
    margin-left: 124px;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.foot {
    height: 3000px;
    display: flex;
    flex-direction: row;
}
.footik {
    margin-top: 1980px;
}
/* END ABOUT US */
/* END ABOUT US */
/* END ABOUT US */

/* START SERVICE */
/* START SERVICE */
/* START SERVICE */

.serviceh {
    background-color: #956ae1;
    height: 100%;
    width: 100%;
}
.service {
    background-color: #956ae1;
    height: 100%;
    width: 100%;
}
.serviscont {
    position: absolute;
    width: 1640px;
    height: 690px;
}
.serviceshrift {
    margin-left: 440px;
    position: absolute;
    width: 815px;
    height: 91px;
}
.wea {
    position: absolute;
    width: 241px;
    height: 25px;
    margin-left: 288px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.exp {
    position: absolute;
    width: 815px;
    height: 57px;
    margin-top: 34px;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.service1 {
    margin-top: 150px;
    position: absolute;
    width: 800px;
    height: 250px;

    border-radius: 30px;

    background: #b28af8;
}
.service2 {
    margin-top: 150px;
    margin-left: 840px;
    position: absolute;
    width: 800px;
    height: 250px;

    border-radius: 30px;

    background: #b28af8;
}
.service3 {
    margin-top: 440px;
    position: absolute;
    width: 800px;
    height: 250px;

    border-radius: 30px;

    background: #b28af8;
}
.service4 {
    margin-top: 440px;
    margin-left: 840px;
    position: absolute;
    width: 800px;
    height: 250px;

    border-radius: 30px;

    background: #b28af8;
}
.group30 {
    margin-left: 190px;
    margin-top: 81px;
    position: absolute;
    width: 514px;
    height: 89px;
}
.linkb {
    position: absolute;
    width: 147px;
    height: 29px;

    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.well {
    margin-top: 38px;
    position: absolute;
    width: 514px;
    height: 51px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.group54 {
    margin-left: 54px;
    margin-top: 79px;
}
.plius {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 720px;

    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0px;

    background: #956ae1;
}
.upplius {
    margin-top: 27px;
    margin-left: 38px;
    position: absolute;
    width: 5px;
    height: 26px;

    border-radius: 5px;

    background: #ffffff;
}
.sideplius {
    margin-top: 38px;
    margin-left: 27px;
    position: absolute;
    width: 26px;
    height: 5px;

    border-radius: 5px;

    background: #ffffff;
}
.linkweb {
    position: absolute;
    width: 312px;
    height: 29px;

    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: left;

    color: #ffffff;
}
.shapeserv {
    margin-top: 670px;
    margin-left: 1700px;
}
.footservice {
    margin-top: 1020px;
    height: 100%;
    width: 100%;
}
/* END SERVICE */
/* END SERVICE */
/* END SERVICE */

/* START PORTFOLIO */
/* START PORTFOLIO */
/* START PORTFOLIO */
.shapeport {
    margin-top: -750px;
    margin-left: -1800px;
}
.aweport {
    position: absolute;
    width: 193px;
    height: 25px;
    margin-left: 292px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.greatport {
    position: absolute;
    width: 777px;
    height: 57px;
    margin-top: 34px;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.group458 {
    display: flex;

    margin-top: 120px;
    position: absolute;
    width: 1640px;
    height: 381px;
}
.projectport1 {
    display: flex;
    background-color: #b28af8;
    border-radius: 30px;

    position: absolute;
    width: 380px;
    height: 381px;
}
.rectangl12 {
    position: absolute;
    width: 380px;
    height: 242px;

    border-radius: 30px;

    background: #e2fef0;
}
.group94 {
    margin-top: 41px;
    margin-left: 49px;
}
.group57 {
    margin-top: 282px;
    margin-left: 86px;
    position: absolute;
    width: 220px;
    height: 60px;
}
.webport {
    position: absolute;
    width: 220px;
    height: 29px;

    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: left;

    color: #ffffff;
}
.ux {
    margin-top: 30px;
    margin-left: 54px;
    position: absolute;
    width: 106px;
    height: 20px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.projectport2 {
    background-color: #b28af8;
    margin-left: 420px;
    border-radius: 30px;

    position: absolute;
    width: 380px;
    height: 381px;
}
.group455 {
    position: absolute;
    width: 380px;
    height: 242px;

    border-radius: 30px;

    background: #aacbfc;
}
.projectport3 {
    background-color: #b28af8;
    margin-left: 840px;
    border-radius: 30px;

    position: absolute;
    width: 380px;
    height: 381px;
}
.projectport4 {
    background-color: #b28af8;
    margin-left: 1260px;
    border-radius: 30px;

    position: absolute;
    width: 380px;
    height: 381px;
}
.grpup455 {
    position: absolute;
    width: 380px;
    height: 242px;

    border-radius: 30px;

    background-color: #aacbfcab;
}
.group456 {
    position: absolute;
    width: 380px;
    height: 242px;

    border-radius: 30px;

    background: #ffc7e1;
}
.group457 {
    position: absolute;
    width: 380px;
    height: 242px;

    border-radius: 30px;

    background: #fcffce;
}
.group450 {
    margin-left: 770px;
    margin-top: 560px;
    position: absolute;
    width: 120px;
    height: 50px;
}
.group451 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c4a3fd;
}
.arrowright {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10px;
    height: 16px;
}

.group452 {
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c4a3fd;
}
/* END PORTFOLIO */
/* END PORTFOLIO */
/* END PORTFOLIO */

/* START BLOG */
/* START BLOG */
/* START BLOG */
.group400 {
    margin-left: 627px;
    position: absolute;
    width: 387px;
    height: 91px;
}
.ourblogs {
    margin-left: 145px;
    position: absolute;
    width: 98px;
    height: 25px;

    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.ourblog {
    margin-top: 34px;
    position: absolute;
    width: 387px;
    height: 57px;

    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.group462 {
    margin-top: 150px;
    position: absolute;
    width: 1640px;
    height: 459px;
}
.post1 {
    position: absolute;
    width: 380px;
    height: 459px;

    border-radius: 30px;

    background: #b28af8;
}
.post2 {
    margin-left: 420px;

    position: absolute;
    width: 380px;
    height: 459px;

    border-radius: 30px;

    background: #b28af8;
}

.post3 {
    position: absolute;
    width: 380px;
    height: 459px;
    margin-left: 840px;
    border-radius: 30px;

    background: #b28af8;
}

.post4 {
    position: absolute;
    width: 380px;
    height: 459px;
    margin-left: 1260px;
    border-radius: 30px;

    background: #b28af8;
}
.blogpict {
    position: absolute;
    width: 380px;
    height: 242px;
    border-radius: 30px;
}
.group461 {
    margin-top: 284px;
    margin-left: 40px;

    position: absolute;
    width: 300px;
    height: 88px;
}
.august {
    position: absolute;
    width: 131px;
    height: 20px;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.why {
    position: absolute;
    width: 300px;
    height: 59px;
    margin-top: 29px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.pliusblog {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 300px;
    margin-top: 379px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #956ae1;
}
.fa-bars {
    font-size: 36px;
    display: none;
}
.aboutucont {
    margin-top: 10px;
}
